@model Product
@{ 
    ViewBag.Title = "Редактирование продукта";
    Layout = "_AdminLayout";
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
        <label asp-for="Name">Название</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Discription">Описание товара</label>
        <textarea asp-for="Discription" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Category">Категория товара</label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Цена</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
       <button class="btn btn-primary" type="submit">Сохранить изменения</button>
        <a asp-action="Index" class="btn btn-secondary">Отмениить</a>
    </div>
</form>